.gradle/
build/
dist/
src/main/resources/static
node_modules/

.DS_store
*.log*
*.iml
*.ipr
*.ids
*.iws
*.js.map
.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/bin/
/target/
coverage/
